@import 'tailwindcss';

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Breesh';
  src: url('/fonts/Breesh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

